/* -------------------------------------------------
			Estilos  general
------------------------------------------------- */
body {
	font-family:arial; /* tipo de letra de la página es Arial */
	color:#A6353B; /* el color de la letra general */
	background-image:url("../imagenes/fondo.gif"); /* el fondo de la página */
	margin:0;  /* eliminamos los paddings y márgenes de la página */
	padding:0;

}
/* -------------------------------------------------
			Estilos  Menu
------------------------------------------------- */
nav{ /* la capa que contiene el menu */
	background-color:#EF9CA0; /* el color de fondo del menu */
	margin-bottom:50px; /* la separación con el bloc inferior */
}

ul {
  list-style-type: none; /* eliminamos el estilo por defecto de la lista */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left; /* todos los elementos del menu flotan a la izquierda */
}

li a {
  display: block; /* cada a se comporta como un bloque */
  color:#FDE4E5; /* el color de la letra del menu */
  text-align: center; /* para centrar el texto en el menu */
  padding: 14px 16px; /* cada elemento tiene un padding */
  margin:3%; /* el margin de cada elemento del menu */
  text-decoration:none; /* eliminamos el subrayado de los vínculos */
  font-size:1.8em; /* el tamaño de la letra del menu */
}

li a:hover {
  color: #A6353B; /* para cambiar el color de la letra cuando el elemento recibe el focus */
}

/* -------------------------------------------------
			Estilos  bloque central
------------------------------------------------- */

.container{
	width:50%; /* el bloque central ocupa el 50% de la página */
	background-color:#FDE4E5; /* el color del fondo del bloque central */
	padding:1%; /* damos un márgen interno al bloque central */
	color:#A6353B; /* el color de la letra en el bloque */
	margin:auto; /* para pober el bloque en el centro de la página */
	border-style:solid; /* para definir el contorno del bloque  */
	border-width: 5px; /* la medida del border del bloque */ 
	border-color:#EF9CA0; /* el color del border del bloque */ 
	overflow:hidden;
	/* definimos el contorno redondo a 10px para  los diferentes tipos de navegadores */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}
p{
	text-align:center; /* para centrar el párrafo */
	font-size:14px; /* el tamaño de la letra del párrafo en el bloque */
}
.titulo{
	font-size:40px; /* el tamaño la letra del título */
	text-align:center; /* para centrar el título */
}

/* -------------------------------------------------
			Estilos  Formulario
------------------------------------------------- */


.borrar{
	clear:both;
	margin:0;
}

form{ /* el formulario */
	padding:2%;
	overflow:hidden;
	margin-top:5%; /* la separación del formulario del contenido superior */ 
	width:80%; /* el formulario ocupa el 80% del bloque central */
	margin:auto; /* centramos el formulario */
	/* definimos el contorno redondo a 5px para  los diferentes tipos de navegadores */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form  div{ /* las capas que contiene los campos del formulario, tienen un ancho de 45% y flotan a la izquierda */
	width:45%;
	float:left;
}

label{
	width:40%;  /* el ancho de las etiquetas */
	padding-top:5%; /* para que las etiquetas se alineen con los campos */
	float:left; /* las etiquetas flotan a la izquierda */
	font-size:14px; /*  el tamaño del las etiquetas en el formulario */
	font-weight:bold; /* la etiquetas están en negrita */
	margin-left:2%; /* añadimos un margin a la izquierda */
}

input{
  width:100%; /* los campos ocupan el 100% de su elemento padre */
  padding:2%; /* especificamos el padding de los campos a 2% */
  margin-top:20px; /* la separación entre campos del formulario */
  font-size:14px; /* el tamaño de la letra dentro de los campos del formulario */
  border-color:#EF9CA0; /* el color del border  de los campos */ 
  border-width:2px; /* la medida del border de los campos */ 
  /* definimos el contorno redondo los diferentes tipos de navegadores */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
}


button{
  width:100px; /* los botones miden 100px de ancho */
  cursor: pointer; 
  border-width:0; /* eliminamos el border por defecto del elemento button */
  padding:0;/* eliminamos el padding por defecto del elemento button */
  margin-top:20px; /* la separación de los botones del contenido superior */ 
}


input[type=number]{ /*  especificamos el ancho del campo number */
  width:16%;
}

input[type=time]{ /*  especificamos el ancho del campo time */
  width:30%;
}

textarea{
  margin-top:20px; /* la separación entre campos del formulario */
  width:100%; /* el textarea ocupa el 100% de su elemento padre */
  font-size:14px; /* el tamaño del letra dentro del campo */
  border-color:#EF9CA0;  /* el color del border  de los campos */ 
  border-width:2px; /* el tamaño del border del campo textarea */
  /* definimos el contorno redondo los diferentes tipos de navegadores */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#boton{ /* características de la capa que contiene los botones */
	float:none;
	width:50%; /* la capa ocupa el 50% de su elemento padre */
	margin:auto; /* centramos la capa para tener los botones en el centro */
	padding-left:0.8%;
}
img{ /* la imagén ocupa el 100% de los botones */
	width:100%;
}





