body 
		{
			background-color:#EBEDEF ;
			font-family: sans-serif;
		}
		.etiqueta
		{
			color: #FF5733;  
			width:15%;
			min-width:100px;
			float:left;
			height:30px;
			font-weight:bold;
		}
		button
		{
			background-color: #FF5733;
			color:	#EBEDEF;		
			border-radius: 7px 7px 7px 7px;
			-moz-border-radius: 7px 7px 7px 7px;
			-webkit-border-radius: 7px 7px 7px 7px;
			padding:5px;
			width:100px;
			
		}
		.capaderecha
		{
			float:left;
			width:80%;
			min-width:200px;
			height:30px;
			position:relative;
		}
		.formulario
		{
			width:80%;
			margin:auto;
			background-color:#DAF7A6;
			border:2px black solid;
			overflow:hidden;
			padding:20px;
			border-radius: 12px 12px 12px 12px;
			-moz-border-radius: 12px 12px 12px 12px;
			-webkit-border-radius: 12px 12px 12px 12px;
		}
		input, select, textarea
		{
			height:25px;
			border-radius: 7px 7px 7px 7px;
			-moz-border-radius: 7px 7px 7px 7px;
			-webkit-border-radius: 7px 7px 7px 7px;
			border: 0px solid #2b2a2b;
			padding-left:5px;
			
		}
		.textoasunto
		{
			height:70px;
		}
		.anchopeque
		{
			width:50px;
		}
		.anchogrande
		{
			width:300px;
		}
		.anchomedio
		{
			width:100px;
		}